mixin contacts()
  .contacts 
    .contacts__time
      span.contacts__time-caption Время работы: 
      span.contacts__time-meaning 10:00 — 19:00
    a(href="tel:+84957212525").contacts__phone 8 495 721-25-25
    .contacts__city 
      span.contacts__city-selectetd Москва
      span.contacts__city-switch сменить