mixin preview()
  ul.preview  
    li.preview__item
      a(href="#").preview__link
        img(src="../assets/img/preview-3.jpg" alt="preview")
    li.preview__item
      a(href="#").preview__link
        img(src="../assets/img/preview-2.jpg" alt="preview")
    li.preview__item
      a(href="#").preview__link
        img(src="../assets/img/preview-1.jpg" alt="preview")
