mixin menu()
  nav.menu
    a(href="#").menu__search
    ul.menu__list 
      li.menu__item 
        a(href="#").menu__link.menu__link--active Перфораторы 
      li.menu__item 
        a(href="#").menu__link Дрели
      li.menu__item 
        a(href="#").menu__link Шлифмашины
      li.menu__item 
        a(href="#").menu__link Пистолеты
      li.menu__item 
        a(href="#").menu__link Электропилы
      li.menu__item 
        a(href="#").menu__link Наборы инструментов
      li.menu__item 
        a(href="#").menu__link Аксессуары
    a(href="#").menu__sale Распродажа