mixin top-menu()
  .top-menu 
    ul.top-menu__list 
      li.top-menu__item 
        a(href="#").top-menu__link Каталог инструментов
      li.top-menu__item 
        a(href="#").top-menu__link Все для сада 
      li.top-menu__item 
        a(href="#").top-menu__link Ручной инструмент
      li.top-menu__item  
        a(href="#").top-menu__link Электрика
      li.top-menu__item 
        a(href="#").top-menu__link Доставка
      li.top-menu__item 
        a(href="#").top-menu__link Оплата 
      li.top-menu__item 
        a(href="#").top-menu__link О нас