include ../components/top-menu/top-menu.pug
include ../components/logo/logo.pug
include ../components/user/user.pug
include ../components/banner/banner.pug
include ../components/basket/basket.pug
include ../components/preview/preview.pug
include ../components/contacts/contacts.pug
include ../components/menu/menu.pug
include ../components/search/search.pug
