.header {
  &__wrapper {
    display: flex;
    margin-bottom: 28px;
    padding-top: 20px;
  }

  &__top {
    flex-grow: 1;
  }

  &__logo {
    margin-right: 30px;

    @media screen and (max-width: $smDesktopWidth) {
      position: absolute;
      width: 100px;
      margin-right: 0;
    }

    @media screen and (max-width: $tableWidth) {
      left: 50%;
      transform: translateX(-50%);
    }

    @media screen and (max-width: $phoneWidth) {
      left: 15px !important;
      transform: translateX(0) !important;
    }
  }

  &__top {
    margin-top: -10px;
  }

  &__topmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d7d7d7;

    @media screen and (max-width: $smDesktopWidth) {
      height: 65px;
      border-bottom: none;
      padding-left: 130px;
      justify-content: flex-end;
    }
  }

  &__topwrap {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $phoneWidth) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__banner {
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__preview {
    @media screen and (max-width: $tableWidth) {
      display: none;
    }
  }

  &__basket {
    @media screen and (max-width: $phoneWidth) {
      margin-bottom: 30px;
    }
  }

  &__menu {
    position: relative;

    @media screen and (max-width: 1106px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__btn {
    display: none;
    width: 35px;
    height: 21px;
    z-index: 10;
    cursor: pointer;

    &:hover span {
      background-color: #ffcc00;
    }

    @media screen and (max-width: 1090px) {
      order: 2;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }

    span {
      position: absolute;
      display: inline-block;
      width: 35px;
      height: 3px;
      border-radius: 3px;
      background-color: #252525;
      transition: .3s;

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }

      @media screen and (max-width: 580px) {
        width: 35px;
        height: 3px;
      }
    }

    @media screen and (max-width: $smDesktopWidth) {
      display: block;
    }

    @media screen and (max-width: 580px) {
      width: 35px;
      height: 21px;
    }

    &--active {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }

        &:nth-child(3) {
          bottom: 50%;
          transform: translateY(50%) rotate(-45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }
}