.search {
  position: absolute;
  top: 50px;
  padding: 10px 22px 10px 40px;
  background-color: #ffcc00;
  border-radius: 14px;
  opacity: 0;
  transition: .3s;

  @media screen and (max-width: 1106px) {
    position: relative;
    margin-bottom: 20px;
    opacity: 1;
    top: 0;
    order: 0;
  }

  @media screen and (max-width: $tableWidth) {
		padding-left: 20px;
  }

  &__wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__form {
    display: flex;
  }

  &__label {
    margin-right: 20px;

    @media screen and (max-width: $phoneWidth) {
      display: none;
    }
  }

  &__input {
    flex-grow: 1;
    box-sizing: border-box;
    margin-right: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4c4c4 #dcdcdc #ededed #dcdcdc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
    outline: none;

    @media screen and (max-width: $phoneWidth) {
      width: 100%;
    }
  }

  &__submit {
    color: #fff;
    background-color: #252525;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  &--open {
    top: 40px;
    opacity: 1;
    
  }
}