mixin search()
  .search
    form(action="#").search__form
      .search__wrapper
        label(for="search").search__label Что ищем?
        input(type="text" id="search").search__input
      button(type="submit").search__submit Найти